@font-face {
    font-family: "fit";
    src: url("../src/fonts/Fit-Regular-Testing.ttf");
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

body {
    margin: 0;
    font-family: "poppins";
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.navbar, .footer {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-color: #7EB6C6;
}

.footer {
    padding-block: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "poppins";
    background-color: #d0fffa;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.nameProduct {
    font-weight: bolder;
}

.navbar img {
    height: 10vh;
}

.main img {
    height: 15vh;
    border-radius: 5px;
}

.footer span {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main_product {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.main_product img {
    width: 20vw;
}

.description {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px black;
    padding: 1rem;
}

.parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 1rem 4rem;
    border: none;
    border-radius: 9px;
    font-family: "poppins";
}

select, input {
    outline: none;
}